@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono&display=swap");
:root {
  --background-color: #181818;
  --text-color: #ffffff;
  --line-color: #303030;
  --font-size: 15px;
  --font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-family);
}

header {
  --background-color: #202020;
  background-color: var(--background-color);
  color: var(--text-color);
  position: sticky;
  top: 0;
  height: 56px;
}

.main-flex {
  display: grid;
  grid-template-columns: clamp(300px, 68vw, 1300px) 430px;
  grid-template-rows: auto auto;
  grid-template-areas:
    "primary secondary"
    "comment secondary";
  margin: 0 0 30px 0;
}

.flexbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-start {
  margin: 0 0 0 20px;
  gap: 20px;
}

.center {
  margin-right: 100px;
}
#search {
  width: 524px;
  height: 34px;
  --background-color: #121212;
  background-color: var(--background-color);
  --text-color: white;
  color: var(--text-color);
  --font-size: 16px;
  font-size: var(--font-size);
  border: none;
  padding: 0 0 0 10px;
  overflow: hidden;
}

#search-bar {
  width: 600px;
  height: 34px;
  position: relative;
  margin-right: 20px;
  --background-color: #121212;
  background-color: var(--background-color);
  border: 1px solid #323232;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

#search-icon {
  --background-color: #323232;
  position: absolute;
  right: 0;
  top: 0;
  background-color: var(--background-color);
  width: 64px;
  height: 35px;
}

#mic-icon {
  --background-color: #181818;
  background-color: var(--background-color);
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.end {
  gap: 20px;
  padding: 30px;
}

#sign-up {
  gap: 10px;
  border: 1px solid #3ea6ff;
  padding: 7px;
  --text-color: #3ea6ff;
  color: var(--text-color);
}

.primary {
  width: clamp(300px, 67vw, 1270px);
  margin: 10px 0 0 30px;
  font-size: var(--font-size);
  grid-area: primary;
}

iframe {
  width: clamp(300px, 67vw, 1270px);
  height: clamp(200px, 30vw, 600px);
}

ul {
  margin-left: 0;
  padding: 0;
  list-style-type: none;
}

li {
  display: inline-block;
  --text-color: #aaaaaa;
  color: var(--text-color);
}

.meta-button {
  margin-left: 20px;
  gap: 10px;
}

.bar-under {
  border-bottom: 1px solid var(--line-color);
}

.img {
  border-radius: 50%;
}

.bar-render {
  width: 160px;
  border: 1px solid white;
  margin-left: clamp(400px, calc(96% - 350px), 880px);
}

#hashtash {
  --text-color: #3ea6ff;
  --font-size: 13px;
  color: var(--text-color);
  font-size: var(--font-size);
}

#title {
  --font-size: 17px;
  font-size: var(--font-size);
}

#meta {
  margin: 20px 0 0 30px;
}

#avatar {
  gap: 20px;
}

pre {
  font-family: var(--font-family);
  margin: 0;
}

.channel-title {
  margin-left: 5px;
}

#dots {
  display: inline;
}

#more {
  display: none;
}

#more-btn {
  --text-color: #aaaaaa;
  color: var(--text-color);
}

.primary-comment {
  grid-area: comment;
  width: clamp(300px, 67vw, 1270px);
  margin: 0 0 0 60px;
}

.comment-flex {
  justify-content: flex-start;
  gap: 10px;
}

#num-comment {
  margin-right: 20px;
  --font-size: 17px;
  font-size: var(--font-size);
}

.comments-section {
  margin: 30px 0 30px 0;
}

#content {
  height: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.comment-img {
  width: 56px;
  align-self: flex-start;
}

#comment {
  margin-bottom: 10px;
}

#comment-header {
  margin-bottom: 5px;
}

#comment-add {
  margin-right: 3px;
}

#account-thumbnail {
  align-self: center;
}

.comment-grid {
  display: grid;
  grid-template-columns: 56px clamp(300px, calc(95% + 3px), 1213px);
  grid-template-rows: 23px 23px;
  grid-template-areas:
    "s1 s2"
    "s1 s3";
  margin: 0 0 30px 0;
}

.comment-thumbnail {
  grid-area: s1;
}

.account-comment {
  grid-area: s2;
  margin-left: 10px;
}

.secondary {
  width: 430px;
  font-size: var(--font-size);
  grid-area: secondary;
  margin: 10px 15px 0 30px;
}

.thumbnail {
  align-items: flex-start;
  justify-content: flex-start;
  height: 94px;
}

.thumbnail-img {
  position: relative;
  z-index: -1;
}

.watch-later {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 5px;
  top: 0;
  right: 0;
}

.duration {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0 0 10px 0;
}

.in-video {
  --background-color: black;
  background-color: var(--background-color);
}

.hide {
  visibility: hidden;
}

#item:hover .hide {
  visibility: visible;
}

#item {
  gap: 10px;
  margin: 0 0 20px 0;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

.blue-a {
  --text-color: #3ea6ff;
  color: var(--text-color);
  text-decoration: none;
}

.thumbnail-flex {
  gap: 10px;
  justify-content: flex-start;
}

.thumnail-content {
  width: 220px;
}

#content {
  margin-bottom: 30px;
}

.thumbnail-info {
  --font-size: 13px;
  --text-color: #aaaaaa;
  font-size: var(--font-size) !important;
  color: var(--text-color);
}

.button-comment {
  --font-size: 14px;
  font-size: var(--font-size) !important;
}

#view-reply-button {
  --font-size: 14px;
  font-size: var(--font-size) !important;
  margin: 10px 0 0 0;
}

#subscribe-button {
  --background-color: red;
  background-color: var(--background-color);
  --font-size: 15px;
  font-size: var(--font-size);
  font-family: var(--font-family);
  --text-color: white;
  color: var(--text-color);
  width: 110px;
  height: 37px;
  border: none;
  border-radius: 3px;
}

@media screen and (max-width: 1500px) {
  header {
    width: clamp(400px, calc(90%+300px), 1500px);
  }

  .center {
    margin: 0;
  }

  #search-bar {
    width: clamp(300px, 40vw, 600px);
  }
  #search {
    width: clamp(224px, calc(40vw - 75px), 524px);
  }
  .main-flex {
    display: grid;
    grid-template-columns: clamp(300px, 75%, 1400px);
    grid-template-rows: auto;
    grid-template-areas:
      "primary"
      "secondary"
      "comment";
  }
  .primary {
    width: clamp(300px, 90vw, 1270px);
    margin: 10px 0 0 15px;
  }

  iframe {
    width: clamp(300px, 90vw, 1270px);
    height: clamp(200px, 40vw, 600px);
  }

  #meta {
    margin: 20px 0 0 15px;
  }

  .secondary {
    width: 430px;
    font-size: var(--font-size);
    grid-area: secondary;
    margin: 10px 15px 0 15px;
  }

  .primary-comment {
    grid-area: comment;
    width: clamp(300px, 90vw, 1270px);
    margin: 0 0 0 25px;
  }

  #item,
  .thumnail-content {
    width: clamp(300px, 90vw, 1270px);
  }
}
